.delete-card {
    background-color: rgba(255, 0, 0, 0.09);
    padding: 20px;
    border: solid 3px;
    border-color: red;
    margin: 20px;
}

.proceed-button {
    background-color: rgb(139, 10, 10);
}