.materia-react {
    background-color: pink;
    padding: 100px;
    border: solid 5px;
    margin: 10px;
    width: 700px;
}

.code-preview {
    text-align: left;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.button-menu {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}