.menu {
    padding: 20px;
}

.linkButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.linkButton:hover {
    color: white;
    background-color: pink;
}